/*----------------------------------------------- 默认样式 -------------------------------------------*/

html,
body,
#app {
	height: 100%;
	margin: 0;
}

#app {
	margin: 0 auto;
	background-color: #F0F0F0;
	width: 100%;
	height: 100%;
}

body {
	background-color: #F0F0F0;
	color: #232323;
}

.page {
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.header {
	height: 44px;
	line-height: 44px;
	width: 100%;
	position: absolute;
	z-index: 5;
	top: 0;
	text-align: center;
	/*width: 100%;
	top: 0px;
	height: 44px;
	line-height: 44px;
	border-bottom: 1px solid #e0e0e0;
	display: flex;*/
}

.header .mui-bar {
	background-color: #FFFFFF;
}

.header .mui-bar a {
	color: #333333;
}

.mui-bar-nav {
	-webkit-box-shadow: 0 0px 0px #ccc;
	box-shadow: 0 0px 0px #ccc;
}

.content {
	position: absolute;
	top: 44px;
	width: 100%;
	bottom: 0px;
	overflow: auto;
	overflow-x: hidden;
	overflow-y: scroll;
}

.content::-webkit-scrollbar {
	display: none;
}

.mui-bar {
	z-index: 99999;
}


/*-----------------------------------------------vux页面跳转效果-------------------------------------------*/


/*左右滑动*/
.Router {
     position: absolute;
     width: 100%;
     transition: all .2s ease;
}

.slide-left-enter,
 .slide-right-leave-active {
     opacity: 0;
    -webkit-transform: translate(-100%, 0);
    transform: translate(-100%, 0);
}

.slide-left-leave-active,
.slide-right-enter {
     opacity: 0;
    -webkit-transform: translate(100%, 0);
    transform: translate(100% 0);
}


.fade-enter-active,
.fade-leave-active {
	transition: opacity .5s ease;
}

.fade-enter,
.fade-leave-active {
	opacity: 0
}

.child-view {
	position: absolute;
	transition: all .4s cubic-bezier(.55, 0, .1, 1);
}


/*-----------------------------------------------基础样式-----------------------------------------------*/


/*1.1 对齐
*/

.text-l {
	text-align: left
}

.text-r {
	text-align: right
}

.text-c {
	text-align: center
}

.va * {
	vertical-align: sub!important;
	*vertical-align: middle!important;
	_vertical-align: middle!important
}

.va-t {
	vertical-align: top!important
}

.va-m {
	vertical-align: middle!important
}

.va-b {
	vertical-align: bottom!important
}


/*1.2 定位
*/

.pos-r {
	position: relative
}

.pos-a {
	position: absolute
}

.pos-f {
	position: fixed
}


/*1.3 浮动
*/

.l,
.f-l {
	float: left!important;
	_display: inline
}

.r,
.f-r {
	float: right!important;
	_display: inline
}

.pt-45 {
	padding-top: 45px;
}


/*-----------------------------------------------间距样式-----------------------------------------------*/

.space {
	margin: 10px 0!important;
}


/*带图标、右箭头菜单*/

.menu {
	line-height: 23px;
}

.menu img {
	width: 25px;
	height: 25px!important;
}


/*-----------------------------------------------列表样式-----------------------------------------------*/

.mui-table-view:before,
.mui-table-view:after,
.mui-table-view-cell:after,
.mui-card-footer:before,
.mui-card-header:after {
	background-color: #F0F0F0;
}


/*列表产品图*/

.aby-img {
	line-height: 74px!important;
	max-width: 113px!important;
	width: 113px!important;
	height: 74px!important;
}


/*列表产品图-导游头像*/

.aby-img-guide {
	line-height: 74px!important;
	max-width: 74px!important;
	height: 74px!important;
	border-radius: 4px;
}

.aby-list p {
	font-size: 12px;
	padding: 0;
	margin: 0;
	line-height: 17px;
	color: #AAAAAA;
}


/*列表标题*/

.aby-list-title,
.aby-list-title-2 {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical!important;
	color: #333333!important;
	font-size: 14px!important;
	line-height: 20px!important;
	text-align: justify;
}


/*列表标题-1行*/

.aby-list-title {
	-webkit-line-clamp: 1;
}


/*列表标题-2行*/

.aby-list-title-2 {
	-webkit-line-clamp: 2;
	white-space: normal!important;
	height: 40px;
}


/*公司名称行*/

.aby-list-company {
	/*margin-top: 3px!important;*/
}


/*列表浏览量等数据行*/

.aby-list-data span {
	margin-left: 8px;
}

.aby-list-data span:first-child {
	margin-left: 0px;
	padding: 0px;
}

small {
	font-weight: 400;
}

.mui-navigate-right:after,
.mui-push-right:after {
	right: 10px;
}


/*-----------------------------------------按钮样式----------------------------------------*/


/*左右有边距按钮的容器*/

.aby-button-panel {
	padding: 10px;
}

.aby-button-fixed,
.aby-button-blue,
.aby-button-line-blue {
	font-size: 14px;
}


/*底部固定按钮*/

.aby-button-fixed {
	background-color: #08C7B5;
	position: fixed;
	bottom: 0px;
	border-radius: 0px;
}


/*湖蓝提交按钮*/

.aby-button-blue {
	background-color: #08C7B5;
	border-radius: 4px;
}


/*线条按钮*/

.aby-button-line-default,
.aby-button-line-blue {
	background-color: #FFFFFF;
	color: #101010;
	border-radius: 15px;
	padding: 10px;
	line-height: 10px;
	height: 30px;
	min-width: 60px;
}


/*线条小-默认灰*/

.aby-button-line-default {
	border: 1px solid #BBBBBB;
}


/*线条-湖蓝*/

.aby-button-line-blue {
	border: 1px solid #08C7B5;
	color: #08C7B5;
}


/*在线联系按钮、电话联系-详情页*/

.aby-button-contact {
	display: inline-block;
	width: 49%;
	color: #08C7B5;
	font-size: 16px;
	background-color: #FFFFFF;
	box-shadow: none;
}

.aby-button-contact img {
	width: 20px;
	height: 20px;
	margin-right: 6px;
}


/*复制按钮*/

.aby-button-cope {
	width: 40px;
	height: 20px;
	font-size: 12px;
	padding: 5px;
	line-height: 10px;
}


/*-----------------------------------------head下方固定样式----------------------------------------*/

.aby-top-fixed {
	position: fixed;
	top: 44px;
	z-index: 999;
}


/*-----------------------------------------价格样式----------------------------------------*/


/*列表价格*/

.aby-list-price {
	color: #FF9800;
	float: right;
	font-size: 18px;
	font-weight: initial;
}


/*详情总额*/

.aby-detail-price {
	color: #FF9800;
	font-size: 18px;
	font-weight: initial;
	font-weight: 500;
}


/*-----------------------------------------mint-ui搜索样式----------------------------------------*/

.mint-search-list {
	background-color: #F0F0F0 !important;
}

.mint-search {
	height: 40px;
}


/*-----------------------------------------mint-ui下拉刷新样式----------------------------------------*/

.page-loadmore {
	width: 100%;
	overflow-x: hidden;
}

.page-loadmore .mint-spinner {
	display: inline-block;
	vertical-align: middle;
}

.page-loadmore-desc {
	text-align: center;
	color: #666;
	padding-bottom: 5px;
}

.page-loadmore-desc:last-of-type {
	border-bottom: solid 1px #eee;
}

.page-loadmore-listitem {
	height: 50px;
	line-height: 50px;
	border-bottom: solid 1px #eee;
	text-align: center;
}

.page-loadmore-listitem:first-child {
	border-top: solid 1px #eee;
}

.page-loadmore-wrapper {
	margin-top: -1px;
	overflow: scroll;
}

.loading-background {
	width: 100%;
	height: 50px;
	line-height: 50px;
	text-align: center;
	-webkit-transition: .2s linear;
	transition: .2s linear;
}

.mint-loadmore-top span {
	display: inline-block;
	-webkit-transition: .2s linear;
	transition: .2s linear;
	vertical-align: middle;
	text-align: center;
}

.mint-loadmore-top span.is-rotate {
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
}

.page-infinite-desc {
	text-align: center;
	color: #666;
	padding-bottom: 5px;
	border-bottom: solid 1px #eee;
}

.page-infinite-listitem {
	height: 50px;
	line-height: 50px;
	border-bottom: solid 1px #eee;
	text-align: center;
}

.page-infinite-listitem:first-child {
	border-top: solid 1px #eee;
}

.page-infinite-wrapper {
	margin-top: -1px;
	overflow: scroll;
}

.page-infinite-loading {
	text-align: center;
	height: 50px;
	line-height: 50px;
}

.page-infinite-loading div {
	display: inline-block;
	vertical-align: middle;
	margin-right: 5px;
}

.mui-table-view-cell {
	padding: 10px 12px;
}

.mint-loadmore {
	overflow: hidden
}

.mint-loadmore-content {}

.mint-loadmore-content.is-dropped {
	-webkit-transition: .2s;
	transition: .2s
}

.mint-loadmore-top,
.mint-loadmore-bottom {
	text-align: center;
	height: 50px;
	line-height: 50px
}

.mint-loadmore-top {
	margin-top: -50px
}

.mint-loadmore-bottom {
	margin-bottom: -50px
}

.mint-loadmore-spinner {
	display: inline-block;
	margin-right: 5px;
	vertical-align: middle
}

.mint-loadmore-text {
	vertical-align: middle
}


/*-----------------------------------------字体样式----------------------------------------*/

.aby-font-Black,
.aby-font-Black p,
.aby-font-Black h5 {
	color: #232323;
}

.aby-font-blue {
	color: #08C7B5;
}

.aby-font-white {
	color: #FFFFFF;
}


/*-----------------------------------------下拉菜单样式----------------------------------------*/

.mint-popup {
	width: 100%;
}

.headerSelect .v-modal {
	top: 40px
}

.aby-header-screen .v-modal {
	top: 120px;
}

.aby-top-fixed .v-modal {
	top: 80px;
}


/*-----------------------------------------背景样式----------------------------------------*/

.aby-bg-login {
	height: 100%;
	background-image: url(../../static/images/bg/bg_login.jpg);
	background-size: 100% 100%;
	background-position: center;
}

.aby-bg-white {
	background-color: #FFFFFF;
}


/*-----------------------------------------图标样式----------------------------------------*/


/*认证图标*/

.aby-img-Authentication {
	width: 18px;
}


/*-----------------------------------------小红点----------------------------------------*/


/*没有数字的小红点*/

.aby-badge-nonum {
	padding: 5px!important;
	margin-right: 5px;
	background-color: #DD5F58!important;
}


/*-----------------------------------------选项卡----------------------------------------*/


/*选项卡默认颜色*/

.mint-tab-item {
	color: #232323;
}

.mint-navbar .mint-tab-item .mint-tab-item-label {
	font-size: 14px!important;
}

.mui-bar-tab .mui-tab-item.mui-active {
	color: #08C7B5;
}

.mui-bar {
	background-color: #FFFFFF;
}